<div class="container-fluid">
  <div class="row mt-3">
    <div class="d-flex justify-content-between">
      <div class="col-md-6">
        <h2>Data e Ora</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <form>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="dd-MM-yyyy"
              name="dp"
              [(ngModel)]="date"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-dark" (click)="confirmTimeData()">Conferma</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">

  <div class="row mt-3">
    <div class="d-flex justify-content-between">
      <div class="col-md-6">
        <h2>Piloti</h2>
      </div>

    </div>
  </div>

  <div class="row" *ngFor="let container of PIL_ARRAY">
    <div class="col-md-5 py-2">
      <input name="name" class="form-control" [(ngModel)]="container.name" type="text" placeholder="nome"
             aria-label="nome">
    </div>
    <div class="col-md-5 py-2">
      <input name="token" class="form-control" [(ngModel)]="container.token" type="text" placeholder="token"
             aria-label="crediti">
    </div>
    <div class="col-md py-2">
      <button type="button" class="btn btn-dark" (click)="save(container)">Salva</button>
    </div>
  </div>

</div>

<div class="container-fluid">
  <h2 class="mt-3">Motori</h2>
  <div class="row" *ngFor="let container of MOT_ARRAY">
    <div class="col-md-5 py-2">
      <input name="name" class="form-control" [(ngModel)]="container.name" type="text" placeholder="nome"
             aria-label="nome">
    </div>
    <div class="col-md-5 py-2">
      <input name="token" class="form-control" [(ngModel)]="container.token" type="text" placeholder="token"
             aria-label="crediti">
    </div>
    <div class="col-md py-2">
      <button type="button" class="btn btn-dark" (click)="save(container)">Salva</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h2 class="mt-3">Costruttori</h2>

  <div class="row" *ngFor="let container of COSTRUTT_ARRAY">
    <div class="col-md-5 py-2">
      <input name="name" class="form-control" [(ngModel)]="container.name" type="text" placeholder="nome"
             aria-label="nome">
    </div>
    <div class="col-md-5 py-2">
      <input name="token" class="form-control" [(ngModel)]="container.token" type="text" placeholder="token"
             aria-label="crediti">
    </div>
    <div class="col-md py-2">
      <button type="button" class="btn btn-dark" (click)="save(container)">Salva</button>
    </div>
  </div>
</div>

