<!-- the application -->
<div id="pageContent" class="site-container bg-refactoring">
  <div class="sticky-top">
    <!-- As a heading -->
    <nav class="navbar navbar-dark bg-dark d-flex justify-content-between px-3">
      <span class="navbar-brand mb-0 h1">FantaFormula1</span>
      <span [ngClass]="creditiHeader < 0 ? 'text-danger' : 'text-light'" style="font-size: 1.5rem">I tuoi crediti: {{creditiHeader}}</span>
      <app-count-down></app-count-down>
    </nav>
  </div>
  <div class="site-content">
    <router-outlet></router-outlet>
  </div>
</div>
